{% extends "site/base.html" %}
{% block content %}
    <div class="page-header">
        <h1>{{ topic.name }} <small>por: {{ topic.user.first_name }} {{ topic.user.last_name }} ({{ topic.user.username }})</small></h1>
    </div>
    <form action="{% url "topic" topic.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" class="form-control" rows="3" placeholder="Digite sua mensagem..."></textarea>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
    </form>
    {% for post in topic.posts.all %}
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.user.first_name }} {{ post.user.last_name }} ({{ post.user.username }})</h4>
                <p class="list-group-item-text">{{ post.content }}</p>
                <p><small>{{ post.modification_date }}</small></p>
            </a>
        </div>
    {% empty %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Ninguém ainda disse nada... :(</strong> <br/> Se você quiser, pode pioneiro aqui! :D
        </div>
    {% endfor %}

{% endblock %}
{% block scripts %}
{% endblock %}